<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
              integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
              crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>

        <link href="{{ asset('css/estilos.css') }}" type="text/css" rel="stylesheet"/>
        <link href="{{ asset('css/estiloNewEmp.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/menu.css') }}" type="text/css" rel="stylesheet" />


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2 menu">
            <h1 id="menu">Menú</h1>
            <div class="its_menu">
                <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                    <li class="active"><a href="http://localhost:8000/Empresa/all"><span class="glyphicon glyphicon-briefcase"></span>  Empresas</a></li>
                    <li><a href="http://localhost:8000/Alumnos/all"><span class="glyphicon glyphicon-user"></span>  Alumnos</a></li>
                    <li><a href="http://localhost:8000/Empresa/new"><span class="glyphicon glyphicon-plus"></span>  Añadir empresa</a></li>
                    <li><a href="http://localhost:8000/Profesor/all"><span class="glyphicon glyphicon-zoom-in"></span> Profesores</a></li>
                    <li><a href="http://localhost:8000/Profesor/new"><span class="glyphicon glyphicon-align-justify"></span>  Añadir Profesor</a></li>


                </ul>

            </div>
        </div>


{% block body %}

{% endblock %}
        </div>
    </div>

{% block javascripts %}{% endblock %}
</body>
</html>
