<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"  />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>




</head>
<body>
{% block contains %}
    {% block aside %}
        <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <ul class="nav menu">
                <li role="presentation"><p></p></li>
                <li class="tittle">PRINCIPAL</li>
                <li><a href="/"><svg class="glyph stroked notepad "><use xlink:href="#stroked-notepad"/></svg></svg> Listado de asignaciones</a></li>
                <li><a href="widgets.html"><svg class="glyph stroked checkmark"><use xlink:href="#stroked-checkmark"/></svg> Asignacion</a></li>
                <li role="presentation" class="divider"></li>
                <li class="tittle">MAESTROS</li>
                <li class="parent">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked app window with content"><use xlink:href="#stroked-app-window-with-content"/></svg></span> Empresas
                    </a>
                    <ul class="children collapse" id="sub-item-1">
                        <li>
                            <a class="" href="../empresas/all">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de empresas
                            </a>
                        </li>
                        <li>
                            <a class="" href="../empresas/new">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nueva Empresa
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nueva Petición
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-2"><svg class="glyph stroked eye"><use xlink:href="#stroked-eye"/></svg></span> Profesores
                    </a>
                    <ul class="children collapse" id="sub-item-2">
                        <li>
                            <a class="" href="/profesores/all">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de Profesores
                            </a>
                        </li>
                        <li>
                            <a class="" href="/profesores/new">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nuevo Profesor
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="parent">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-3"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg></span> Alumnos
                    </a>
                    <ul class="children collapse" id="sub-item-3">
                        <li>
                            <a class="" href="../alumnos/all">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Listado de Alumnos
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Nuevo Alumno
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="divider"></li>
                <li class="tittle">CONFIGURACIÓN</li>
                <li class="parent">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-4"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg></span> Configurar
                    </a>
                    <ul class="children collapse" id="sub-item-4">
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
                            </a>
                        </li>
                    </ul>
                </li>
                <li role="presentation" class="divider"></li>
                <li class="tittle">RECURSOS</li>
                <li><a href="panels.html"><svg class="glyph stroked clipboard with paper"><use xlink:href="#stroked-clipboard-with-paper"/></svg> Recursos</a></li>
                <li role="presentation" class="divider"></li>
            </ul>

        </div><!--/.sidebar-->
    {% endblock %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">


        {% block body %}{% endblock %}

    </div>	<!--/.main-->
{% endblock %}
{% block javascripts %}{% endblock %}

<script src="{{ asset('js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('js/bootstrap-table.js') }}"></script>
<script>
    $('#calendar').datepicker({
    });
    !function ($) {
        $(document).on("click","ul.nav li.parent > a > span.icon", function(){
            $(this).find('em:first').toggleClass("glyphicon-minus");
        });
        $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
    }(window.jQuery);
    $(window).on('resize', function () {
        if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
    })
    $(window).on('resize', function () {
        if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
    })
</script>
</body>
</html>